<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>The Spa</title>
</head>
<body>
    <header th:fragment="header">
    <div id="mag">Indigo Spa</div>
        <div class="nav">
            <a class="navlink" href="/">Services</a>
            <a class="navlink" href="/">Blog</a>
            <a class="navlink" href="/">Book</a>
            <a class="navlink" href="/">Contact</a>
        </div>
    </header>
</body>
</html>